[hub]
ip = your.dc.hub
port = 411

[dc]
nick = hadcc_test
email = anonymous@example.com
description = your description
myip = 1.2.3.4
myport = 4950
sharesize = 300000000000
sharedir = /mnt/share

[filesystem]
mountpoint = mnt/
