[http]
ip = 127.0.0.1
port = 8000

[hub]
ip = your.dc.hub
port = 411

[dc]
nick = hadcc_test
email = anonymous@example.com
description = your description
sharesize = 300000000000
sharedir = /mnt/share
downloaddir = .
